*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.background{
    background-color: aliceblue;
}
img{
    width: 100%;
    height: auto;
}
.title{
    padding-top: 40px;
    padding-bottom:20px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
}
p{
    font-size:20px;
}

p , h2{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
